CI_ENVIRONMENT = development

APP_FULL_BASE_URL = 'http://localhost:8090/'
COOKIE_SECURE = false

DB_HOST = db
DB_NAME = flyvip
DB_PASS = flyvip
DB_SSL = 0
DB_TEST_NAME = flyvip_test
DB_USER = flyvip
