includes:
	- vendor/codeigniter/phpstan-codeigniter/extension.neon

parameters:
	level: 8
	paths:
		- app
		- tests
	excludePaths:
		- app/Views
		- app/ThirdParty
		- app/Config
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
		- vendor/codeigniter4/framework/system/Common.php
		- vendor/codeigniter4/framework/system/Helpers/url_helper.php
		- vendor/codeigniter4/shield/src/Helpers/auth_helper.php
		- vendor/codeigniter4/settings/src/Helpers/setting_helper.php
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			message: '#Cannot call method \w+\(\) on CodeIgniter\\Database\\ResultInterface\|false#'
		-
			message: '#expects numeric-string, string given#'
			path: app/Domain/Money.php
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
